<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>CustomLess</pluginName>
        <pluginDescription>Actual working Less.</pluginDescription>
        <pluginNiceName>CustomLess</pluginNiceName>
        <pluginVersion>2.0.1</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp></pluginBuildTimestamp>
        <pluginClassName>CustomLess\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/CustomLess/lib</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>CustomLess</namespace>
        </pluginNamespaces>
    </plugin>
</zend-config>
